<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TCAddin.DefectTrackerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TCAddin.DefectTrackerSettings>
            <setting name="TFSuri" serializeAs="String">
                <value>http://bkrtfs01:8080/tfs/</value>
            </setting>
            <setting name="TFScollection" serializeAs="String">
                <value>BKR_FindingCollection</value>
            </setting>
            <setting name="TFSproject" serializeAs="String">
                <value>BKR Bevindingadministratiesysteem</value>
            </setting>
            <setting name="TFSworkItemType" serializeAs="String">
                <value>Finding</value>
            </setting>
            <setting name="BKR_Priority" serializeAs="String">
                <value>1 - Immediate</value>
            </setting>
            <setting name="BKR_FindingType" serializeAs="String">
                <value>Defect</value>
            </setting>
            <setting name="TFSwebUri" serializeAs="String">
                <value>web/UI/Pages/WorkItems/WorkItemEdit.aspx?id=</value>
            </setting>
            <setting name="ToscaTFSProject" serializeAs="String">
                <value>TFSProject</value>
            </setting>
            <setting name="ToscaScreenshotFolder" serializeAs="String">
                <value>C:\TOSCA_PROJECTS\ToscaCommander\Screenshots\failedTestSteps</value>
            </setting>
        </TCAddin.DefectTrackerSettings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
